<script id="processing" type="text/x-handlebars-template">
	<h4>Processing your request with the following info:</h4>
	<p>{{request}}</p>
</script>

<script id="success" type="text/x-handlebars-template">
	<h4>Success</h4>
	<p>JSON Response:<br /><pre>{{jsonresponse}}</pre></p>

	<h4>Sample Output</h4>
	<table class="table table-bordered table-hover">
	  
	</table>
</script>