 /*
* File name:   _text.scss
* Description: Basic font treatments and text alignments
* Version:     1.0
*/


/*
*	Variables for all text related items
*/

$font-primary: 'Open Sans', sans-serif;

$color-content: #000;
$color-prime: #0061a8;
$color-second: #252525;
$color-general: #4d5c67;
$color-link: #0081e9;
$color-cta: #fff;
$color-contrast: #f7cf15;
$color-accent: #c62a2f;

$font-size-h1: 36px;
$font-size-mobile-h1: 26px;
$font-size-h2: 30px;
$font-size-mobile-h2: 22px;
$font-size-h3: 24px;
$font-size-mobile-h3: 18px;
$font-size-h4: 18px;
$font-size-mobile-h4: 16px;
$font-size-h5: 14px;
$font-size-mobile-h5: 12px;
$font-size-general: 12px;
$font-size-focus: 22px;
$font-size-description: 16px;
$font-size-cta: 15px;


/*
*	Text mixins, defaults applied, but allows for calling in to different tags
*/

@mixin h1() {
	font: {
		size: $font-size-h1;
		family: $font-primary;
		weight: 400;
	}
	color: $color-prime;

	@media screen and (max-width: 767px) {
		font: {
			size: $font-size-mobile-h1;
		}
	}
}
@mixin h2() {
	font: {
		size: $font-size-h2;
		family: $font-primary;
		weight: 400;
	}
	color: $color-second;

	@media screen and (max-width: 767px) {
		font: {
			size: $font-size-mobile-h2;
		}
	}
}
@mixin h3() {
	font: {
		size: $font-size-h3;
		family: $font-primary;
		weight: 400;
	}
	color: $color-second;

	@media screen and (max-width: 767px) {
		font: {
			size: $font-size-mobile-h3;
		}
	}
}
@mixin h4() {
	font: {
		size: $font-size-h4;
		family: $font-primary;
		weight: 600;
	}
	color: $color-second;

	@media screen and (max-width: 767px) {
		font: {
			size: $font-size-mobile-h4;
		}
	}
}
@mixin h5() {
	font: {
		size: $font-size-h5;
		family: $font-primary;
		weight: 800;
	}
	color: $color-second;

	@media screen and (max-width: 767px) {
		font: {
			size: $font-size-mobile-h5;
		}
	}
}

@mixin generalText() {
	font: {
		size: $font-size-general;
		family: $font-primary;
	}
	line-height: 17px;
	color: $color-general;
}


/*
*	Setting defaults from mixins
*/

h1 { @include h1(); }
h2 { @include h2(); }
h3 { @include h3(); }
h4 { @include h4(); }
h5 { @include h5(); }

body, 
p,
div,
ul,
li,
dd {
	@include generalText;
}

a {
	color: $color-link;

	&:hover,
	&:active {
		color: $color-second;
	}
}

sup {
	font: {
		size: 60%;
	}
}


/*
*	Additional UI font classes for generic items (can be used by the CMS)
*/

$prefix: ".ui-text-";	// Prefix for classes eg. ui-text-blue

#{$prefix}center {
	text-align: center;
}

#{$prefix}blue {
	color: $mainColor;
}
#{$prefix}lightblue {
	color: #b1c6dd;
}
#{$prefix}grey {
	color: $color-second;
}

#{$prefix}focus {
	font: {
		size: $font-size-focus;
	}
}

#{$prefix}description {
	font: {
		size: $font-size-description;
	}
	line-height: 24px;
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (max-width: 767px) {
		font: {
			size: 12px;
		}
		line-height: 18px;
		padding-left: 0; padding-right: 0;
	}
}

#{$prefix}uppercase {
	text-transform: uppercase;
}

#{$prefix}italic {
	font: {
		style: italic;
	}
}

#{$prefix}nomargin {
	margin: 0;
}

#{$prefix}semibold {
	font: {
		weight: 600;
	}
}

#{$prefix}bold {
	font: {
		weight: 700;
	}
}

#{$prefix}potiner {
	cursor: pointer;
}

#{$prefix}letterspace1 {
	letter-spacing: .1em;
}

#{$prefix}disclaimer {
	font: {
		size: 8pt;
	}
}

#{$prefix}intro {
	@media screen and (max-width: 767px) {
		padding-left: 15px; padding-right: 15px;
	}
}